
.app-main{
  width: auto;
  height: 900px;
  background-color: #61dafb;
  
}
.App-hea
{
text-align-last :left ;

}


.App-header {

  width: 860px;
  height: 100px;
  background-color: blue;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
